<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gobusta</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
    <div id="site">
        <div id="header">
            <div id="header-content">
                <div id="branding">
                    <a href="/">
                        <h1>Gobusta</h1>
                    </a>
                </div>
            </div>
        </div>
        <div id="content-wrapper">
            <div id="content">
                <main id="main">
                    {{ range . }}
                    <a href="{{ .URL }}" class="post-link">
                        <article class="post">
                            <header>
                                <h3>{{ .Title }}</h3>
                            </header>
                            <div class="post-metadata">
                                <div class="post-publishedat">
                                    <span>{{ .Date }}</span>
                                </div>
                            </div>
                        </article>
                    </a>
                    {{ end }}
                </main>
            </div>
        </div>
        <div id="footer">
            <div id="footer-content">
                <div id="copyright">
                    ©2020
                </div>
                <div id="contact">
                    <ul>
                        <li><a href="mailto:sample_email@gmail.com" target="_blank" rel="noopener noreferrer">Email</a></li>
                        <li><a href="https://github.com/sample" target="_blank" rel="noopener noreferrer">Github</a></li>
                        <li><a href="https://linkedin.com/in/sample" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/js/main.js"></script>
</body>

</html>