<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/static/css/github.css">
    <link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
    <div id="site">
        <div id="header">
            <div id="header-content">
                <div id="branding">
                    <a href="/">
                        <h1>Gobusta Org</h1>
                    </a>
                </div>
                <div id="description">
                    <p>
                        A minimal static blog engine with org-mode support
                    </p>
                </div>
            </div>
        </div>
        <div id="content-wrapper">
            <div id="content">
                <main id="main">
                    <article class="post-detail">
                        <header>
                            <h3 class="post-title">{{ .Title }}</h3>
                            <div class="post-metadata">
                                <div class="post-publishedat">
                                    <span>{{ .Date }}</span>
                                </div>
                            </div>
                        </header>
                        <div id="post-content">
                            {{ .Content }}
                        </div>
                    </article>
                </main>
            </div>
        </div>
    </div>

    <script src="/static/js/main.js"></script>
    <script src="/static/js/highlight.pack.js"></script>
    <script>
        hljs.initHighlightingOnLoad();
    </script>
</body>

</html>
